body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #34495E;
}

div {
    text-align: center;
}

p {
    font-size: 40px;
    color: #FFFFFF
}

.score {
    font-weight: 700;
}